<div class="clearfix">
	<div class="center mt2">
		<div class="inline-block overflow-hidden bg-white border rounded">
			<% if (page.prev){ %>
			<a href="<%- base %><%= (page.current > 2 ? (config.pagination_dir + '/' + (page.current - 1) + '/') : '') %>" class="left btn border-right">
				<svg class="icon" data-icon="chevron-left"></svg>
				<%= __('prev') %>
			</a>
			<% } %>
			<% if (page.next){ %>
			<a href="<%- base + config.pagination_dir %>/<%= page.current + 1 %>/" class="right btn">
				<%= __('next') %>
				<svg class="icon" data-icon="chevron-right"></svg>
			</a>
			<% } %>
			<div class="overflow-hidden sm-show">

				<% if (page.current - p != 1) { %>
				<a href="<%- base %>" class="left btn border-right<%- (page.current == 1 ? ' muted' : '') %>">1</a>
				<% } %>
				<% if (page.current - show > show) { %>
					<span class="left btn border-right">...</span>
				<% } %>

				<% for (var p = show; p > 0; p--) { %>
					<% if(page.current - p > 0) { %>
						<% if (page.current - p != 1) { %>
							<a href="<%- base + config.pagination_dir %>/<%= page.current - p %>/" class="left btn border-right"><%= page.current - p %></a>
						<% } %>
					<% } %>
				<% } %>

				<% if (page.current - p != 1) { %>
				<span class="left btn border-right muted"><%= page.current %></span>
				<% } %>

				<% for (var p = 1; p < show + 1; p++) { %>
					<% if(page.current + p < page.total) { %>
						<a href="<%- base + config.pagination_dir %>/<%= page.current + p %>/" class="left btn border-right"><%= page.current + p %></a>
					<% } %>
				<% } %>

				<% if (page.total - page.current > show + 1) { %>
					<span class="left btn border-right">...</span>
				<% } %>

				<% if (page.current != page.total) { %>
					<a href="<%- base + config.pagination_dir%>/<%= page.total %>/" class="left btn border-right"><%= page.total %></a>
				<% } %>
			</div>
		</div>
	</div>
</div>
